@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    background: #f8f9ff;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.center,
.center2 {
    max-width: 1181px;
    width: 100%;
    margin: 0 auto;
}

/* Header Start */

.header {
    display: flex;
    justify-content: center;
    margin-bottom: 38px;
}

.header_background_img {
    max-width: 1600px;
    width: 100%;
    height: 815px;
    background-image: url(../img/background-top.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    position: relative;
}

.header_nav_menu {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.left_nav_menu {
    display: flex;
    gap: 82px;
    align-items: center;
    justify-content: center;
}

.logo_link {
    height: 40px;
}

.left_nav_menu_list {
    display: flex;
    gap: 36px;
    max-width: 352px;
    height: 19px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.left_nav_menu_link {
    font-size: 16px;
    line-height: 19px;
    color: #8794ba;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.left_nav_menu_link:hover,
.signIn_btn:hover {
    opacity: 0.7;
}

.left_nav_menu_link:active,
.signIn_btn:active {
    color: #ff2c8b;
}

.header_sign_btn_wrp {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.signIn_btn {
    display: block;
    width: 48px;
    height: 19px;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #8794ba;
}

.signUp_btn {
    width: 161px;
    height: 40px;
    border: 1px solid #465b95;
    border-radius: 68px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 19px;
    color: #8794ba;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 10px 51px;
    background: transparent;
    cursor: pointer;
}

.navbar {
    display: none;
}

.signUp_btn:hover {
    background: #ef2a82;
    color: white;
}

.signUp_btn:active {
    border: 1px solid #ef2a82;
    background: transparent;
    color: #ef2a82;
}

.header_promo {
    display: flex;
    gap: 44px;
}

.header_promo_content {
    max-width: 550px;
    width: 100%;
    margin-top: 78px;
}

.header_promo_title {
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 15px;
}

.header_promo_txt-larg {
    color: #8794ba;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 49px;
}

.header_promo_txt-small {
    display: none;
    color: #8794ba;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.header_promo_btn {
    padding: 15.5px 80px;
    width: 238px;
    height: 50px;
    background: #ef2a82;
    border-radius: 68px;
    flex: none;
    order: 1;
    flex-grow: 0;
    border: none;
    color: #ffffff;
    font-size: 16px;
    line-height: 19px;
}

.header_promo_btn:hover {
    outline: 1px solid white;
}

.header_promo_btn:active {
    outline: 1px solid #ef2a82;
    background: transparent;
    color: #ef2a82;
}

.header_promo_img {
    max-width: 797px;
    width: 100%;
    min-height: 625px;
    /* width: 30vmax;
  height: 20vmax; */
    background-image: url(../img/main-screen.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
}

/* Header End */

/* Features start */

.main_features {
    margin-bottom: 130px;
}

.main_features_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #172755;
    margin-bottom: 30px;
}

.main_features_text {
    max-width: 1060px;
    width: 100%;
    text-align: center;
    color: #8794ba;
    margin-bottom: 81px;
}

.main_features_list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_features_item {
    max-width: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_features_icon {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin-bottom: 26px;
}

.icon1 {
    background-image: url(../img/monitoring.svg);
}

.icon2 {
    background-image: url(../img/widget.svg);
}

.icon3 {
    background-image: url(../img/perfomence.svg);
}

.main_features_subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #172755;
    margin-bottom: 15px;
}

.main_features_txt {
    max-width: 340px;
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #8794ba;
}

.main_features_item:nth-child(2) > .main_features_txt {
    max-width: 350px;
    width: 100%;
}

.reports_and_widget {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 100px;
    margin-bottom: 120px;
}

.reports_and_widget_content {
    max-width: 480px;
    width: 100%;
}

.reports_and_widget_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #172755;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 30px;
}

.reports_and_widget_txt {
    color: #8794ba;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.reports_and_widget_img {
    max-width: 600px;
    width: 100%;
    min-height: 410px;
    background: #ffffff;
    box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.customizable {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    margin-bottom: 120px;
}

.customizable_content {
    max-width: 480px;
    width: 100%;
    order: 2;
}

.customizable_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #172755;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 30px;
}

.customizable_txt {
    color: #8794ba;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.customizable_img {
    max-width: 600px;
    width: 100%;
    min-height: 410px;
    background: #ffffff;
    box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    order: 1;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    margin-bottom: 120px;
}

.dashboard_content {
    max-width: 480px;
    width: 100%;
}

.dashboard_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #172755;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 30px;
}

.dashboard_txt {
    color: #8794ba;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.dashboard_img {
    max-width: 600px;
    width: 100%;
    min-height: 410px;
    background: #ffffff;
    box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Features End */
/* Plans Start */
.plans {
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    min-height: 1086px;
    background-image: url(../img/background-bottom.svg);
    background-repeat: no-repeat;
}

.plans_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plans_content_list__item {
    max-width: 320px;
    width: 100%;
}

.plans_content__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #ffffff;
    margin-top: 272px;
    margin-bottom: 30px;
}

.plans_content__txt {
    text-align: center;
    color: #8794ba;
    margin-bottom: 80px;
    max-width: 630px;
    width: 100%;
}

.plans_content__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    overflow: hidden;
    width: 1180px;
}

.plans_content_list__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 340px;
    width: 100%;
    background-color: #0f1f4b;
    fill-opacity: 0.7;
    box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
    border-radius: 30px;
    box-sizing: border-box;
}

input[type="radio"] {
    display: none;
}

.plans_content_list__link {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 0 60px;
}

.plans_content_list_title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #ffffff;
    margin-top: 50px;
    margin-bottom: 10px;
}

.plans_content_list__planTxt {
    text-align: center;
    color: #8794ba;
    margin-bottom: 37px;
}

.plans-content__hr-line {
    border: 1px solid #2a407c;
    margin-bottom: 28px;
    max-width: 220px;
    width: 100%;
}

.plans_content_list_price {
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #ffffff;
}

.plans_content_list_price span {
    font-size: 30px;
    line-height: 35px;
}

.plans_content_list_priceTxt {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #8794ba;
    margin-bottom: 40px;
}

.plans_content_list__btn {
    width: 200px;
    height: 50px;
    border: 1px solid #2a407c;
    border-radius: 68px;
    background: transparent;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    padding: 15.5px 80px;
    margin-bottom: 70px;
}

.plans_content_list__item
    input[type="radio"]:not(:checked)
    + label
    > .plans_content_list__btn:hover {
    border: 1px solid #ef2a82;
    color: #ef2a82;
}

.plans_content_list__item
    input[type="radio"]:not(:checked)
    + label
    > .plans_content_list__btn:active {
    background: white;
    border: 1px solid #ef2a82;
    color: #ef2a82;
}

.plans_content_list__item input[type="radio"]:checked + label {
    background-color: #ffffff;
    fill-opacity: 0.7;
    box-shadow: 0px 18px 50px -15px #060f28;
    border-radius: 30px;
    box-sizing: border-box;
}

.plans_content_list__item
    input[type="radio"]:checked
    + label
    > .plans_content_list_title {
    color: #060f28;
}

.plans_content_list__item
    input[type="radio"]:checked
    + label
    > .plans_content_list_price {
    color: #060f28;
}

.plans_content_list__item input[type="radio"]:checked + label > hr {
    border: 1px solid #d3d9e9;
}

.plans_content_list__item
    input[type="radio"]:checked
    + label
    > .plans_content_list__btn {
    background: #ef2a82;
    border: none;
}

.plans_content_list__item
    input[type="radio"]:checked
    + label
    > .plans_content_list__btn:active {
    background: #ef2a8334;
    color: #ef2a82;
    outline: 1px solid #ef2a82;
}

/* form Start */
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 58px;
    margin-top: 109px;
    margin-bottom: 156px;
}

.form__trusted-company {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 431px;
    width: 100%;
}

.form-trusted-company__title {
    max-width: 431px;
    width: 100%;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #160637;
    margin-bottom: 75px;
}

.form-trusted-company__txt {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #8989a2;
    position: relative;
    margin-bottom: 50px;
    display: block;
    max-width: 424px;
    width: 100%;
    text-align: center;
}

.form-trusted-company__txt::after {
    content: "";
    display: block;
    border: 1px solid #d6d6d6;
    width: 144px;
    height: 0;
    position: absolute;
    right: 0px;
    top: 11px;
}

.form-trusted-company__txt::before {
    content: "";
    display: block;
    border: 1px solid #d6d6d6;
    width: 144px;
    height: 0;
    position: absolute;
    left: 0px;
    bottom: 11px;
}

.form-trusted-company__icons-list {
    max-width: 302px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 67px;
}

.form-trusted-company__icon-link:active img {
    opacity: 0.7;
}

.form-trusted-company__icon-image {
    display: block;
}

.form__sign-up-wrp {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 4px 4px 12px rgba(137, 137, 162, 0.122);
    border-radius: 8px;
    padding: 32px 40.5px;
    gap: 16px;
    max-width: 428px;
    width: 100%;
    height: 475px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form__sign-up-wrp::before {
    content: "";
    display: block;
    width: 480px;
    height: 480px;
    background: #f9f0ff;
    border-radius: 5px;
    /* outline: 1px solid red; */
    position: absolute;
    top: 42px;
    left: calc(50% - 240px);
    z-index: -1;
}

.form-sign-up__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #160637;
    flex: none;
    order: 0;
    flex-grow: 0;
    max-width: 347px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0;
}

.form-sign-up__submit-btn {
    max-width: 344px;
    width: 100%;
    height: 48px;
    background: #722ed1;
    border: none;
    border-radius: 4px;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
}

.form-sign-up__submit-btn:active {
    background: white;
    border: 1px solid #722ed1;
    color: #722ed1;
}

.form-sign-up__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 348px;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
}

.form-sign-up__input-email,
.form-sign-up__input-password,
.form-sign-up__input-retype-password {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    max-width: 348px;
    width: 100%;
    height: 51px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: start;
    box-sizing: border-box;
}

.form-sign-up__input-password {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

.form-sign-up__input-retype-password {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

.form-sign-up__help-us-txt {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    flex: none;
    flex-grow: 0;
    margin-bottom: 0;
}
