@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  background: #f8f9ff;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.center,
.center2 {
  max-width: 1181px;
  width: 100%;
  margin: 0 auto;
}

/* Header Start */

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 38px;
}

.header_background_img {
  max-width: 1600px;
  width: 100%;
  height: 815px;
  background-image: url(../img/background-top.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  position: relative;
}

.header_nav_menu {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.left_nav_menu {
  display: flex;
  gap: 82px;
  align-items: center;
  justify-content: center;
}

.logo_link {
  height: 40px;

}


.left_nav_menu_list {
  display: flex;
  gap: 36px;
  max-width: 352px;
  height: 19px;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.left_nav_menu_link {
  font-size: 16px;
  line-height: 19px;
  color: #8794ba;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.left_nav_menu_link:hover,
.signIn_btn:hover {
  opacity: 0.7;
}

.left_nav_menu_link:active,
.signIn_btn:active {
  color: #ff2c8b;
}

.header_sign_btn_wrp {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.signIn_btn {
  display: block;
  width: 48px;
  height: 19px;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #8794ba;
}

.signUp_btn {
  width: 161px;
  height: 40px;
  border: 1px solid #465b95;
  border-radius: 68px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 19px;
  color: #8794ba;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 10px 51px;
  background: transparent;
  cursor: pointer;
}

.navbar {
  display: none;
}

.signUp_btn:hover {
  background: #ef2a82;
  color: white;
}

.signUp_btn:active {
  border: 1px solid #ef2a82;
  background: transparent;
  color: #ef2a82;
}

.header_promo {
  display: flex;
  gap: 44px;
}

.header_promo_content {
  max-width: 550px;
  width: 100%;
  margin-top: 78px;
}

.header_promo_title {
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 15px;
}

.header_promo_txt-larg {
  color: #8794ba;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 49px;
}

.header_promo_txt-small {
  display: none;
  color: #8794ba;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.header_promo_btn {
  padding: 15.5px 80px;
  width: 238px;
  height: 50px;
  background: #ef2a82;
  border-radius: 68px;
  flex: none;
  order: 1;
  flex-grow: 0;
  border: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
}

.header_promo_btn:hover {
  outline: 1px solid white;
}

.header_promo_btn:active {
  outline: 1px solid #ef2a82;
  background: transparent;
  color: #ef2a82;
}

.header_promo_img {
  max-width: 797px;
  width: 100%;
  min-height: 625px;
  /* width: 30vmax;
  height: 20vmax; */
  background-image: url(../img/main-screen.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
}

/* Header End */